.order-ticket-list tr {
	height: 50px;
	font-size: 14px;
	cursor: pointer;
}

.order-ticket-list tr.ui-datatable-odd {
	background-color: #FFFFFF;
}

.order-ticket-list thead {
	display: none;
}

.order-ticket-list .ui-datatable-tablewrapper, .create-food-table .ui-datatable-tablewrapper {
	margin: 0;
}

.order-ticket-list {
	width:100%; 
	text-align: left;	
}

.right-layout .header {
	border: 2px solid gray; 
	height: 50px; 
	line-height: 50px; 
	padding: 5px;
}

.right-layout .header button {
	float: right;
	height: 100%;
	font-size: 14px;
}

.right-layout .order-detail-list {
	width: 100%;
	border: none;
	margin-top: 10px;
	border-top: 2px black dashed;
}

.right-layout .order-detail-list tr {
	height: 50px;
}

.right-layout .order-detail-list td {
	border: none;
}

.order-detail-list td.order-food {
	width: 20%;
}

.order-detail-list td.order-food > span {
    border: 2px solid black;
    height: 76px;
    display: block;
    text-align: center;
    font-size: 21px;
    padding: 10px 0;
}

.guest-order-list {
	height: 600px;
}

.guest-order-list div.order-item {
	border: 2px solid black;
	min-height: 150px;
	text-align: center;
	line-height: 1.5em;
	font-size: 15px;
	padding: 10px 0;
}

.guest-order-list div span {
	display: block;
}

.guest-order-list .ui-grid-col-3 {
	padding: 10px;
}

.guest-order-list .order-item button {
	margin-top: 10px;
}

.guest-order-list .order-item button.order-selected {
	font-weight: bold;
	border: none;
	color: #000000;
	background: transparent;
}

.order-item span.order-restaurant {
	font-size: 20px;
	font-weight: bold;
}

.create-order .order-info-table {
	width: 100%;
	border: none;
}

.create-order .order-info-table td {
	width: 100%;
	border: none;
}

.order-info-table td.input-label {
	width: 30%;
}

.order-info-table td input {
	width: 90%;
}

.create-order .create-order-footer {
	position: relative;
	margin-top: 20px;
	bottom: 0;
}

.create-order .create-food-table input{
	width: 85%;
}